<!DOCTYPE html>
<html>
  <head>
    <title>Add a New Book</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <h1>Add a New Book</h1>
    <form action="/" method="post">
      <div class="form-field">
        <label for="book_name">Book Name:</label>
        <input type="text" id="book_name" name="book_name" value="{{ request.form['name'] }}" required>
      </div><br>
      <div class="form-field">
        <label for="book_photo_url">Book Photo URL:</label>
        <input type="text" id="book_photo_url" name="book_photo_url" value="{{ request.form['url'] }}" required>
      </div><br>
      <div class="form-field">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{ request.form['author'] }}" required>
      </div><br>
      <div class="form-field">
        <label for="num_pages">Number of Pages:</label>
        <input type="number" id="num_pages" name="num_pages" value="{{ request.form['pages'] }}" required>
      </div><br>
      <div class="form-field">
        <label for="price">Price (in dollars):</label>
        <input type="number" step="0.01" id="price" name="price" value="{{ request.form['price'] }}" required>
      </div><br>
      <div class="form-field">
        <label for="languages">Languages:</label><br>
        {% for lang in languages: %}
        <input type="checkbox" id="{{ lang }}" name="languages" value="{{ lang }}">
        <label for="{{ lang }}">{{ lang }}</label><br>
        {% endfor %}
      </div><br>
      <div class="form-field">
        <label for="genres">Genres:</label><br>
        {% for genre in genres: %}
        <input type="checkbox" id="{{ genre }}" name="genres" value="{{ genre }}">
        <label for="{{ genre }}">{{ genre }}</label><br>
        {% endfor %}
      </div><br>
      <div class="form-field">
        <input type="submit" value="Add Book">
      </div><br>
    </form>
  </body>
</html>
