<!DOCTYPE html>
<html>
<head>
  <title>{{ book_info['name'] }}</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="icon" href="data:,">
</head>
<body>
  <h1>{{ book_info['name'] }}</h1>
  <div class="book-display">
    <img class="book-image" src="{{ book_info['book_photo_url'] }}" alt="Book Cover">
    <div class="book-info">
      <p><strong>Author:</strong>{{ book_info['author'] }}</p>
      <p><strong>Pages:</strong> {{ book_info['num_pages'] }}</p>  
      <p><strong>Languages:</strong>
        {% for lang in book_info['languages'] %}
        {{ lang }}; 
        {% endfor %}
      </p>
      <p><strong>Genres:</strong>
        {% for genre in book_info['genres'] %}
        {{ genre }}; 
        {% endfor %}
      </p>
      <div class="price">
      <h3><strong>ONLY {{ book_info['price'] }}$</strong></h3>
      </div>    
    </div>
  </div>
  
  
  <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>
</html>
