<!DOCTYPE html>
<html>
<head>
  <title>Books List</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
  <h1>Welcome to the book store!</h1>
  <div class="filter">
    <form>
      <label for="genres">Choose a genre:</label>
      <select name="genres" id="genres">
        <option value="*">All</option>
        {% for genre in genres %}
          <option value="{{ genre }}">{{ genre }}</option>
        {% endfor %}
      </select>
      <label for="languages">Choose a language:</label>
      <select name="languages" id="languages">
        <option value="*">All</option>
      {% for language in languages %}
        <option value="{{ language }}">{{ language }}</option>
      {% endfor %}
      </select>
      <button>filter</button>
    </form>
  </div>
  
  <div class="books">
    {% for book in books %}
    <div class="book">
      <img class="book-image" src="{{ book['book_photo_url'] }}" alt="Book Cover">
      <div class="book-info-list">
        <h2 class="book-title">{{ book['name'] }}</h2>
        <p class="book-author">{{ book['author'] }}</p>
        <p class="book-details">{{ book['num_pages'] }} pages | <br>
            {% for lang in book['languages'] %}
            {{ lang }}; 
            {% endfor %}
        </p>
        <a class="book-buy" href="/{{ book['name'] }}">Buy Now</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
</body>
</html>
