<!DOCTYPE html>
<html>
  <head>
    <title>Booksy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="/" method="post">
        <div class="form-field">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-field">
          <input type="submit" value="Login">
        </div>
      </form>
      {% if reason != "first_time": %}
      <div class="Incorrect-login">
        {% if reason == "username_not_exist": %}
        <p>The username could not be found, try another one or sign up!</p>
        {% elif reason == "password_incorrect": %}
        <p>The password is incorrect, please try again</p>
        {% endif %}
      </div>
      {% endif %}
      <div class="signup-link">
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      </div>
    </div>
  </body>
</html>
